* {
  box-sizing: border-box;
  color: #111;
}

html {
  font-size: 16px;
}

body {
  background-color: #DF98CD;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 5rem;
  background: #4d4d4d;
  margin-bottom: 2rem;
  box-shadow: 0 1px 11px 3px rgb(0 0 0/21%);
}

header a {
  color: #ad343e;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.itemsTienda {
  width: 100%;
  overflow: hidden;
  padding: 25px 15px;
  border-bottom: #d8dee6 2px solid;
}





